# Ignore node_modules, as they will be installed inside the container
node_modules

# Ignore build artifacts, as they will be generated inside the container
.svelte-kit
build/
dist/

# Ignore local development files and logs
.env
.env.*
*.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Ignore Docker files
Dockerfile
.dockerignore

# Ignore git and other version control files
.git
.gitignore

# Ignore IDE and OS-specific files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
